*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }
#box1{
 width: 100%;
 height: 560px; 

  background-image: url(https://envoy.com/images/jobs/hero-desktop.svg);
  background-size: cover;
  text-align: center;
  /* border: 1px solid red; */
  
}
#together{
  margin: auto;
  margin-top: 200px;
  padding-top: 150px;
  width: 30%;

  margin: auto;
}#heading{
  font-size: xx-large;
}
#subheading{
  color:grey;
}
#carreer{
 margin-top: 20px;
  background-color: red;
  border: none;
  width: 30%;
  height: 40px;
  border-radius: 8px;
  color: white;
}
                                      /* box-2 start */ 
  #box2{
  width: 100%;
 height: 600px; 
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  margin-top: 40px;
}                                           
   #lhs{
      width: 40%;
      height: auto;
     
   }     
   #rhs {
      width: 40%;
      height: auto;
      /* border: 1px solid black; */
   }   
   #lhs{
      font: bolder;
   }       
   #lhs>h1{
      margin-bottom: 50px;
   }   
   #lhs>div{
      margin-top: 80px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      width: 70%;
      height: auto;

   }        
   /* #heading1{
      /* border: 1px solid black; */
     
   #rhs>img{
      display: block;
      width: 100%;
      height: auto;
   }
                                      /* box3start */
   #box3{
     padding: 0px;
      width: 100%;
      height: 800px;
      /* border: 3px solid black; */
      display: grid;
      margin: 0px;
      
   }
   #svgupper{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
   }
   /* #box3>div{
      width: 45%;
      height: auto;
   } */
   #box3middle{
      width: 100%;
      height: 700px;
      /* border: 1px solid black; */
      display: flex;
      justify-content: space-evenly;
      background-color: #b5e0ec ;
   }
   #box3middle>div{
      /* display: flex; */
      /* border: 1px solid red; */
      
      height: 100%;

   }
   #svglower{
      margin-top: -10px;
      padding: 0px;
      height: 30px;
      box-sizing: border-box;
   /* border: 1px solid rebeccapurple; */
   }
   #left{
     /* display: flex; */
      margin-right: 300px;
      gap: 20px;
      margin-left: 100px;
      margin: auto;
      text-align:center;
      width: 39%;
      background-color: #b5e0ec ;
   }
   #left>div{
     display: block;
      text-align: center;
      /* border: 1px solid blue; */
      width: 70%;
   }
   #lefthead{
      
      margin-left: 100px;
      color:#3f4450 ; 

   }
   #leftdesc{
      color: #5e6472;
   }
   #rigth{
      width: 60%;
      display: grid;
      background-color: #b5e0ec ;
      grid-row:auto ;

   }
   #rigth>div{
      width: 50%;
      height: 150px;
      display: grid;
      /* border: 1px solid green; */
   }
   #rigth>div>h1{
      font-size: 130px;
      color:#319c5f ; 
      height: 10%;
      margin: 0px;
   }
   #rigth>div>h2{
      color: #5e6472;
   }
   #rigth>div:first-child{
      margin-left: 35%;
   }
   #rigth>div:last-child{
      margin-left: 35%;
   }
                                   /* box4 start */
  #box4{
      margin-top: 95px;
      width: 100%;
      height: 750px;
      /* border: 1px solid magenta; */
  }
  #box4f1{
    width: 40%;
    height: 120px;
    /* border: 1px solid magenta; */
    margin: auto;
    justify-content: center;
    align-items: center;

  }
  #box4f1>h1{
    width: 50%;
    margin: auto;

    color: #3f4450;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #box4f1>p{
    margin: auto;
    margin-top: 10px;
    
width:60%;
color:grey;
display: grid;
text-align: center;
justify-content: center;
align-items: center;
  }
  #box4f2{
    display: flex;
    /* border: 1px solid red; */
    width: 90%;
    height: 600px;
    margin: auto;
    justify-content: space-around;
  }
  #box4f2>div{
    /* border: 1px solid blue; */
    width: 45%;
    height: 95%;

  }
  #leftbox4f2{
    display: grid;
   padding-top: 20px;
   padding-left: 30px;
    gap: 40px;
  
    
  }
  #leftbox4f2>div:first-child{
    background-image: url(https://envoy.com/images/components/painted-reviews/cilantro-40-paint-bg-1.svg);
  background-size: cover;
  /* border: 1px solid green; */
  width: 95%;
  height: 230px;
  color: white;
  padding: 5px 0px 0px 5px;
  }
  #leftbox4f2>div>p{
    font-size:larger;
  }
  #leftbox4f2>div>img{
    margin-left: 465px;
    margin-top: -45px;
  }
  #leftbox4f2>div:last-child{
    background-image: url(https://envoy.com/images/components/painted-reviews/cilantro-40-paint-bg-3.svg);
  background-size: cover;
    /* border:  1px solid darkgreen; */
    width: 95%;
    height: 230px;
    color: white;
  padding: 5px;
  }
  #rigthbox4f2>div{
    
    margin-top: 150px;
    background-image: url(https://envoy.com/images/components/painted-reviews/cilantro-40-paint-bg-2.svg);
  background-size: cover;
    /* border:  1px solid darkgreen; */
    width: 95%;
    height: 290px;
    color: white;
  padding: 5px;
  }
  #rigthbox4f2>div>img{
    margin-left: 460px;
    margin-top: -45px;
  }
  #rigthbox4f2>div>p{
    font-size:larger;
  }
                                                 /* box-5 start */
 #box5{
    width: 100%;
      height: 400px;
      /* border: 1px solid black; */
     
 }
 #box5upper{
     display: flex;
      justify-content: space-around;
 }
 #box5upper>div:first-child{
    width: 30%;
    height: 400px;
 }
 #box5upper>div:first-child>img{
    width: 100%;
    height: 100%;
 }
 #box5upper>div:last-child{
    width: 50%;
    height: 400px;
 }
 #box5upper>div:last-child>img{
    width: 100%;
    height: 100%;
 }
 #box5>div:last-child{
    margin-top: -320px;
 }
                                                       /* box-6 start */
   #box6{
    width: 100%;
      height: 750px;
      /* border: 1px solid blue; */
      /* background-color: #b5e0ec; */
   }
   #box6upper{
   display: flex; justify-content: space-evenly;
   background-color: #b5e0ec;
   }
   #box6upper>div{
    display: flex;
      justify-content: space-around;
    width: 45%;
    height: 600px;
    /* border:1px solid magenta; */
    gap: 10px;
   

   }
   #box6upper>div:first-child>img{
    width:100% ;
    height: 600px;
   }
   #box6upperrigth>h1{
    font-size: 50px;
    
    
   }
   #box6upperrigth{
    /* border: 1px solid black; */
    margin-top: 90px;
    padding: 7px;
   }

   #box6upperrigth>p{
    font-size: larger;
    color: #5e6472;
   }
   #box6upperrigth>ul{
    font-size: larger;
    color: #5e6472;
   }
                                                /* box7 started */
   #box7{
       width: 100%;
      height: 400px;
      /* border: 1px solid blue; */
       /* padding-left: 70px; */
     /* padding-right: 40px; */
   }
   #box7upper{
    /* border: 1px solid black; */
    margin-left: 50px;
   }
   #box7upper>h1{
    margin-top: -10px;
    font-size: 40px;
    
   }
   #box8lower{
    display: flex;
   }
    #box8lower>a{
       width: 30%;
       justify-content: space-around;
       margin: auto;
       color: black;
    }
    #box8lower>a:hover{
       color: red;
    }
                                             /* box8 start */
    #box8{
       width: 100%;
       height: 700px;
       /* border: 1px solid green; */
       background-color: #f6f6f9 ;


    }
    #box8>div{
       margin: auto;
       width: 90%;
       height: 160px;
       /* border: 1px solid black; */
    }
    #box8>div:first-child{
    padding-top: 40px;
    }
    #box8>div:first-child>h1{
       
       font-size: 50px;
    

    }
    #box8>div:nth-child(2){
       display: flex;
    }

    #box8>div:nth-child(2)>div{
       width: 25%;
       height: 140px;
       /* border: 1px solid blue; */
       padding: 6px;
      
    }
    #box8>div:nth-child(3){
       display: flex;
    }

    #box8>div:nth-child(3)>div{
       width: 25%;
       height: 140px;
       /* border: 1px solid blue; */
       padding: 6px;
      
    }
    #box8>div:nth-child(4)>img{
     margin-left: -50px;
    }