#navbar {
  display: flex;
  height: 80px;
  align-items: center;
  margin-top: -10px;
}
#logo {
  width: 17%;
  margin-left: 10px;
}
#logo > img {
  width: 47%;
  cursor: pointer;
}
#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 30px;
  margin-left: 9%;
}
#menu > div {
  margin-left: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 550;
  font-size: 116%;
  color: rgb(117, 117, 117);
  cursor: pointer;
}
#menu > div:hover {
  color: rgb(253, 68, 68);
}
#loginBtn {
  display: flex;
}
#login {
  border: transparent;
  background-color: transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 550;
  font-size: 116%;
  color: rgb(95, 95, 95);
  cursor: pointer;
}
#login:hover {
  color: rgb(253, 68, 68);
}
#started {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 90%;
  border: transparent;
  padding: 13px 23px;
  background-color: rgb(255, 67, 67);
  color: white;
  margin-left: 25px;
  border-radius: 6px;
  cursor: pointer;
}

/* <-----------Productss popUp-----------> */

.popUp1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 50%;
  height: 68vh;
  border: transparent;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: auto;
  padding: 10px 20px;
  background-color: white;
  position: absolute;
  top: 65px;
  left: 22%;
  transform: translate(0%, -90%) scale(0.1);
  visibility: hidden;
}

.popUp1 {
  display: flex;
}
#navProduct1 {
  width: 64%;
  margin-left: 5px;
  color: rgb(52, 59, 73);
}
#navProduct1 > h4 {
  margin-top: 10px;
  margin-bottom: 6px;
  color: grey;
  font-size: 110%;
}
#navProduct1 > a {
  margin-top: 10px;
  margin-bottom: 6px;
  color: rgb(243, 54, 54);
  font-size: 110%;
  font-weight: 550;
}
.navPro {
  display: flex;
  height: 16%;
  align-items: center;
}
.navPro > div:first-child {
  width: 15%;
}
.navPro > div:last-child {
  width: 80%;
  line-height: 50%;
  color: rgb(77, 86, 104);
}
.navPro > div:last-child > a {
  color: rgb(62, 71, 88);
  text-decoration: none;
  font-size: 110%;
  margin-bottom: -5px;
}
.navPro > div:last-child > p{
  margin-top: -8px;
}
.navPro > div > img {
  width: 82%;
}
#navProduct2 {
  margin-left: 60px;
}
#navProduct2 > h4 {
  margin-bottom: 0px;
  margin-top: 10px;
  color: grey;
  font-size: 110%;
}
#navProduct2 > div {
  display: flex;
  margin-bottom: -20px;
}
#navProduct2 > div > a {
  margin-left: 10px;
  color: rgb(77, 86, 104);
  text-decoration: none;
}
#navProduct2 > div > img {
  width: 22px;
}

/* <-----------Solutions popUp-----------> */

#popup1,
#popup2 {
  transform: translate(0%, 0%) scale(1);
  visibility: visible;
}
.popUp2 {
  width: 21%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 62vh;
  border: transparent;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: auto;
  padding: 10px 20px;
  background-color: white;
  position: absolute;
  top: 65px;
  left: 46%;
  transform: translate(0%, -90%) scale(0.1);
  visibility: hidden;
}
#popup2 {
  transform: translate(0%, 0%) scale(1);
  visibility: visible;
}

.popUp2 > div {
  display: flex;
  margin-bottom: -15px;
}
.popUp2 > div > a {
  margin-left: 10px;
  color: rgb(77, 86, 104);
  text-decoration: none;
  font-size: 110%;
}
.popUp2 > div > img {
  width: 22px;
}
