html{
    font-family: SofiaPro,helvetica neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
}
body{
    margin: 0px;
    padding: 0px;
}
#main{
    width: 100%;
}
#top{
    width: 100%;   
    background-color:#5759df ;
}
#top1{
   width: 45%;
   margin: auto; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 100px;
}
.h11{
    color: #f0f4ff;
    font-size: 54px;
    margin: auto;
    text-align: center;
    word-spacing: 3px;   
}
.spn{
    color: #bdccff;
    text-align: center;
    margin: auto;
 /* font:bolder; */
 font-size: 100%;
 font-weight: 700;
 letter-spacing: 1px;
 word-spacing: 3px;
}
.h22{
    color: #f0f4ff;
    margin: auto;
    text-align: center;
    /* word-spacing: 3px;  */
    font-weight: lighter;
}
.enter{
    padding: 12px 30px 12px 30px;
    background-color: #31317c;
    border: 2px solid #6f83ff;
    border-radius: 5%;
    margin-right: 7px;
    color: #bdcdee;
    margin-right: 15px;
}

.btn{  
    padding: 12px 30px 12px 30px;
    background-color: #d3d236;
    border: none;
    border-radius: 5%;
    color: #4141a2;
}
#top1>div{
    margin-top: 25px;
    margin-bottom: 25px;
}
small{
   color:  #bdc5f8 ;
   margin-bottom: 20px;
}
.yellow{
   color:  #d3d236;
   font-weight: 700;
}
#top>img{
    display: block;
    width: 90%;
    margin: auto;

}
#img-2{
    width: 100%;
}

a{
    display: block;
}
#sticky{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky; 
    top: 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.anchor{
    display: block;
    color: #31317c;
}
#part1{
    width: 40%;
    display: flex;
  
    justify-content: space-around;
    align-items: center;
    
}
#part2{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#part2>a{
display: block;
background-color:#d3d236 ;
margin-right: 5px;
padding: 10px 20px 10px 20px;
color: #4141a2;
border-radius: 5px;
}
#line{
    width: 100px;
    height: 1px;
    border: 1px solid gray;
}
.section{
    width: 90%;  
    margin: auto; 
    display: flex;
margin-top: 100px;
justify-content: space-around;
}
.img{
    width: 36%;
    display: block;
}
.p+img{
    width: 70%;
}
.span{
color: #878e9e;
    font-size: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 3px;   
}
.dis{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.img-div{
    width: 50%;
    display: flex;  
}
.img-div div{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.img-div>img{
    width: 7%;
    display: block;
}
.h2{
   font-size: 35px;
    color: #4141a2;  
}
.count{
    display: flex;
}
.full-img{
    width: 100%;
    /* margin: 70px 0px 70px 0px; */
}
.full-img :first-child{
    width: 100%;
    margin: 70px 0px 70px 0px;
}
.tool_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f9;
}
#tool_img{
    width: 100%;
}
.tool_div{
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,250px);
    gap: 20px;  
  background-color: #f6f6f9;
}
.tl:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tl>a>img{
    width: 100%;
}



